<suite name="Tests"
       parallel="methods"
       preserve-order="true"
       object-factory="org.powermock.modules.testng.PowerMockObjectFactory" verbose="10"
><!--
    <test name="tests">
        <classes>
            <class name="Test1"/>
            <class name="Test2"/>
        </classes>
    </test>-->
    <test name="testsPowermocked">
        <packages>
            <package name="powermockito"/>
        </packages>
    </test>

</suite>